DATABASE_NAME=your_database_name
DATABASE_USERNAME=your_database_user
DATABASE_PASSWORD=your_database_password
DATABASE_PORT=5432
DATABASE_HOST=localhost

TOKEN_SECRET_WORD=your_access_token_secret
REFRESH_SECRET_WORD=your_refresh_token_secret

PORT=3000
